body {
    position: relative;
      color: #000;
    background-color: #fff
  }
  
  * {
      padding: 0;
      margin: 0
  }
  
  *,:after,:before {
      box-sizing: border-box
  }
  
  *,:focus {
      outline: 0
  }
  
  img {
      max-width: 100%;
      vertical-align: bottom
  }
  
  a {
      color: #272b3f;
      text-decoration: none;
      display: inline-block
  }
  
  a:focus,a:hover {
      text-decoration: none
  }
  
  ul {
      list-style-type: none
  }
  
  h1,h2,h3,h4,h5,h6,p,ul {
      margin-bottom: 0
  }
  
  .container {
      margin: 0 auto;
      position: relative
  }
  
  @media only screen and (max-width: 992px) {
      .container {
          padding:0 12px
      }
  }
  
  @media(min-width: 992px) {
      .container {
          width:970px
      }
  }
  
  @media only screen and (min-width: 1200px) {
      .container {
          width:1200px
      }
  }
  
  ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      border-radius: 20px
  }
  
  ::-webkit-scrollbar-button {
      display: none
  }
  
  ::-webkit-scrollbar-track {
      background-color: #ccc
  }
  
  ::-webkit-scrollbar-track-piece {
      background-color: #ccc
  }
  
  ::-webkit-scrollbar-thumb {
      background-color: #2f1dac
  }
  
  ::-webkit-scrollbar-thumb:hover {
      background-color: #2f1dac
  }
  
  ::-webkit-scrollbar-corner {
      display: none
  }
  
  ::-webkit-resizer {
      display: none
  }
  
  .list-inline {
      padding: 0;
      font-size: 0;
      list-style-type: none
  }
  
  .list-inline>li {
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      padding: 0 16px
  }
  
  .text-right {
      text-align: right
  }
  
  .text-left {
      text-align: left
  }
  
  .text-center {
      text-align: center
  }
  /* css strat here */
  .list, .logo, .locat, .list-duno >li{
    vertical-align: middle;
  }
  .btn-sign{
    background-color: rgb(0, 210, 144)!important;
    color: #fff!important;
    font-weight: bold!important;
  }
  .list-duno >li >a:hover{
    color: rgb(0, 210, 144);
  }
  .loca-icon{
    color:  rgb(0, 210, 144);
  }
  .ban-head{
    background: linear-gradient(90.05deg, rgb(9, 17, 37) -2.5%, rgb(33, 61, 133) 100.83%);
  }
.text{
    line-height:1.6;
}
.small-box{
    width: 230px;
    background: rgb(255, 255, 255);
    /* box-shadow: rgb(0 0 0 / 6%) 0px 4px 7px; */
}
.main_ban_head{
    background-color: rgb(247, 253, 250);
}
.phone{
    max-width: 207px;
    max-height: 237px;
}
.img_phone{
    display: inline-block;
    vertical-align: middle;
}
.text_all{
    display: inline-block;
    vertical-align: middle;
    
}
.app_head{
    background-image: linear-gradient(-180deg, rgb(255, 255, 255), rgb(255, 255, 255) 30%, rgb(240, 242, 247) 15%, rgb(240, 242, 247) 85%);
    margin-top: 60px;
}
.list_area >li{
    line-height: 1.9;
}
.ft_head{
    background-color: rgb(23, 30, 48);
}
/* .ft_list_item >li{
    display: inline-block!important;
} */

.ft-list >li{
    line-height: 1.8;
}
@media (max-width: 576px){
.col-sm-12, .col-sm-6 {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 20px;
    }
    .google_apps{
        text-align: center;
        padding-bottom: 15px;
    }
    .down_text{
        text-align: center!important;
    }
    .meat_box{
        margin-bottom: 15px;
    }
 
}
.locat{
    position: relative;
}
.set_loc:after{
    border: 1px solid rgb(0, 179, 122);
   position: absolute;
   padding: 3px;
   content:"";
   border-width: 0px 1px 1px 0px;
   transform: rotate(45deg);
   margin: 8px 8px;
   
}
.bs_dunzo:after{
    border: 1px solid #000;
   position: absolute;
   padding: 3px;
   content:"";
   border-width: 0px 1px 1px 0px;
   transform: rotate(45deg);
   margin: 8px 8px;
}
.bs_dunzo:after:hover{
    color: rgb(0, 179, 122);
}